@media screen and (max-width: 767px) {
  .benefits-icon-wrapper {
    display: none;
  }

  .benefits {
    padding: 96px 0;

  }

  .benefits-item:not(:last-child) {
    margin-bottom: 72px;
  }

  .benefits-subtitle {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;

    margin-bottom: 8px;

        text-align: center;
  }

  .benefits-text {
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
  }
}
