.backdrop {
  position: relative;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);

  opacity: 1;
  transition: opacity 250ms var(--cubic-bezier);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
} 

.modal {
  position: absolute;
  top: 0;
  left: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  min-width: 392px;
  min-height: 586px;
  background-color: #FCFCFC;

  transition: transform 250ms var(--cubic-bezier);
}

.container-modal {
  padding: 72px 24px 0;
}

.button-close {
  position: absolute;
  top: 24px;
  right: 24px;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  padding: 0;
  width: 24px;
  height: 24px;

  border-radius: 50%;
  background-color: #E7E9FC;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms var(--cubic-bezier),
    order 250ms var(--cubic-bezier);
}

.button-close-svg {
  width: 8px;
  height: 8px;
  transition: fill 250ms var(--cubic-bezier);
}

.button-close:focus {
  background-color: #404BBF;
  border: 1px solid transparent;
}

.button-close:focus .button-close-svg {
  fill: #fff;
}

.modal-head {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2E2F42;

  margin-bottom: 16px;
}

.form-field {
  position: relative;

  margin-bottom: 8px;
}

.form-field label,
.textarea-field label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8E8F99;

  margin-bottom: 4px;
}

.form-field input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 38px;

  transition: border 250ms var(--cubic-bezier);
}

.modal-input-wrapper {
  position: relative;
}

.modal-icon-standard {
  position: absolute;
  top: 50%;
  left: 16px;

  transform: translateY(-50%);

  fill: #2E2F42;

  transition: fill 250ms var(-cubic-bezier);
}

.modal-icon-name {
  width: 12px;
  height: 12px;
}

.modal-icon-tel {
  width: 13px;
  height: 13px;
}

.modal-icon-mail {
  width: 15px;
  height: 12px;
}

.form-field input:focus {
  outline: none;
  border: 1px solid #4D5AE5;
}

.form-field input:focus + svg {
  fill: #4D5AE5;
}

.textarea-field textarea:focus {
  outline: none;
  border: 1px solid #4D5AE5;
}

.textarea-field {
  margin-bottom: 16px;
}

.modal-textarea {
  width: 100%;
  height: 120px;
  padding: 8px 16px;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;

  resize: none;
  transition: border 250ms var(--cubic-bezier);
}

.modal-textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.text-policy {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--borders-customer-images);
}

.text-policy span {
  text-decoration-line: underline;
  color: #4D5AE5;
}

.text-policy::before {
  content: "";

  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  margin-right: 8px;

  cursor: pointer;

  transition: background-color 250ms var(--main-cubic-bezier),
    background-image 250ms var(--main-cubic-bezier);
}

.input-policy:checked + .text-policy::before {
  background-color: #404BBF;
  background-image: url(../images/checkbox.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.text-policy {
  display: flex;
  align-items: center;
}

.container-button-modal {
  display: flex;
  justify-content: center;
}

.button-modal {
  display: inline-block;
  margin-top: 24px;
  padding: 16px 32px;
  width: 169px;
  height: 56px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  border: 1px solid transparent;

  color: #fff;
  background-color: #4D5AE5;
  cursor: pointer;
  transition: background-color 250ms var(--main-cubic-bezier);
}

.button-modal:hover,
.button-modal:focus {
  background-color: #404BBF;
}